*{
	margin: 0;
	padding: 0;
	font-family: century Gothic;
}

header{
	background-image:url(2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition : 0.6s ease;
}

ul li a:hover{
	background-color: #fcd264;
	color: #000;
}

ul li.active a{
	background-color: #fcd264;
	color: white;
}
.logo img{
	float: left;
	width: 100px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title h1{
	color: purple;
	font-size: 70px;

}

.button{
	position: absolute;
	top: 63%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid black;
	padding: 10px 30px;
	color: red;
	text-decoration: none;
	transition: 0.6s ease;

}

.btn:hover{
	background-color: #FF0000;
	color: white;	
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: yellow;}